.stepper {
	position: fixed;
	color: cyan;
	right: 2%;
	top: 50%;
	display: flex;
	flex-direction: column;
}

.stepper__circle {
	border-radius: 50%;
	border: 1px solid blueviolet;
	width: 10px;
	height: 10px;
	margin: 1px;
	background-color: red;
}
